html{
    overflow: hidden;
}

body{
    background-color: black;
    color: white;
    min-height: 100vh;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.flex-column{
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.btn-std{
    background-color: coral;
    border: 1px solid lightseagreen;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    font-size: 1.3rem;
    cursor: pointer;
}

.word{
    color: yellow;
    font-size: 1rem;
}

.options{
    color: black;
    font-family: cursive;
    font-weight: 700;
    border: 2px solid lightskyblue;
    border-radius: 10px;
    background-color: lightskyblue;
    margin: 30px 12px;
    padding: 10px;
}

.margin{
    margin: 10px;
}

@media (max-width: 500px)
{
    .options {
        padding: 5px;
        margin: 20px 10px;
    }

    .margin {
        margin: 5px;
    }
}