html{
    overflow: hidden;
}

body{
    background-color: black;
    color: white;
    min-height: 100vh;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.flex-column{
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.btn-std{
    background-color: coral;
    border: 1px solid lightseagreen;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    font-size: 1.3rem;
    cursor: pointer;
}

.word{
    color: yellow;
    font-size: 1rem;
}

.options{
    color: black;
    font-family: cursive;
    font-weight: 700;
    border: 2px solid lightskyblue;
    border-radius: 10px;
    background-color: lightskyblue;
    margin: 30px 12px;
    padding: 10px;
}

.margin{
    margin: 10px;
}

@media (max-width: 500px)
{
    .options {
        padding: 5px;
        margin: 20px 10px;
    }

    .margin {
        margin: 5px;
    }
}


/* loader */

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  